In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Casestudy/AirQualityUCI.csv')

In [26]:
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888

In [27]:
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

In [28]:
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S')

In [42]:
# setting this to True or False doesn't matter
get_ipython().Completer.greedy

True

In [39]:
%config IPCompleter.greedy=True

In [40]:
get_ipython().Completer.greedy

True

In [32]:
# suggestions on Tab don't work like this
# df['Date'].

In [41]:
df_date = df['Date']

In [37]:
# here we see suggestions after every . on tab
df_date.dt.year

0       2004
1       2004
2       2004
3       2004
4       2004
5       2004
6       2004
7       2004
8       2004
9       2004
10      2004
11      2004
12      2004
13      2004
14      2004
15      2004
16      2004
17      2004
18      2004
19      2004
20      2004
21      2004
22      2004
23      2004
24      2004
25      2004
26      2004
27      2004
28      2004
29      2004
        ...
9327    2005
9328    2005
9329    2005
9330    2005
9331    2005
9332    2005
9333    2005
9334    2005
9335    2005
9336    2005
9337    2005
9338    2005
9339    2005
9340    2005
9341    2005
9342    2005
9343    2005
9344    2005
9345    2005
9346    2005
9347    2005
9348    2005
9349    2005
9350    2005
9351    2005
9352    2005
9353    2005
9354    2005
9355    2005
9356    2005
Name: Date, Length: 9357, dtype: int64